body {
	
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;

}

.header {
	width: 980px;
	height: 81px;
	border: solid 1px;
}

.logo-img {
	width:40px;
	height: 81px;
	background-image: url("cakelogo.png");
}

.content {
	width: 980px;
	height: 965px;
	border: solid 1px;
}

.main-img {
	background-image: url("eclairs3.jpg");
	height: 965px;
	width: 490px;
}

.footer {
	width: 980px;
	height: 116px;
	border: solid 1px;
}



