body {
	
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;

}

.header {
	width: 980px;
	height: 81px;
	border: solid 1px;
}

.logo-img {
	width:40px;
	height: 81px;
	background-image: url("cakelogo.png");
	background-repeat: no-repeat;
}

.content {
	border: solid 1px;
	width: 980px;
	height: 965px;
}

.col-md-6 {
	width: 490px;
	height: 965px;
	padding-left: 0px;
	padding-right: 0px;
}

.main-img {
	/*background-image: url("eclairs3.jpg");*/
	background-repeat: no-repeat;
	position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.footer {
	width: 980px;
	height: 116px;
	border: solid 1px;
}



